<div id="list-example" class="list-group conversations">
  <%= link_to conversation_path(conversation), class: "list-group-item list-group-item-action" do %>

    <% if conversation.originator == current_user %>
      <%= render 'conversations/conversation_body', user: conversation.recipients.first, conversation: conversation %>
    <% else %>
      <%= render 'conversations/conversation_body', user: conversation.originator, conversation: conversation %>
    <% end %>

    <%= (truncate conversation.last_message.body, length: 145) %>
  <% end %>
</div>
