<h4 class="heading">
  <div class="conversation">
    <% user_photo(user, 66) %>
  </div>
  <b><%= user.full_name %></b>
  <small class="conversation-timestamp">
    <%=  conversation.last_message.created_at.strftime("%b %d, %Y, %H:%M") %>
  </small>
</h4>
<% unless conversation.last_message.sender == user %>
  <% user_photo(conversation.last_message.sender, 35) %>
<% end %>
