<h1>New conversation</h1>

<%= form_tag conversations_path, method: :post, class: "navbar-form navbar-left search-form" do %>
  <div class="">
    <%= select_tag :user_id, options_from_collection_for_select(@recipients, :id, :first_name),  class: "form-control" %>
  </div><br>

  <div class="">
    <%= text_area_tag :body, nil, placeholder: "Type your message...",  class: "form-control" %>
  </div><br>
  <%= submit_tag 'Send', class: "btn btn-primary" %>
<% end %>
