<h1 class="text-center"><%= t('.title') %></h1>
<hr>

<div class="text-center">
  <% user_photo(@user, 80) %>
  <%= @user.full_name %>
</div>

<div class="form-container">
  <%= render 'form' %>
</div>
