<div id="list-example" class="list-group">
  <%= link_to mailbox_inbox_path, class: "list-group-item list-group-item-action #{active_page(:inbox)}" do %>
    <span class="badge badge-light pull-right"><%= unread_messages_count %></span>
    <em class="fa fa-inbox fa-lg"></em>
    <span>Inbox</span>
  <% end %>
  <%= link_to mailbox_sent_path, class: "list-group-item list-group-item-action #{active_page(:sent)}" do %>
    <em class="fa fa-paper-plane-o fa-lg"></em>
    <span>Sent</span>
  <% end %>
  <%= link_to mailbox_trash_path, class: "list-group-item list-group-item-action #{active_page(:trash)}" do %>
    <em class="fa fa-trash-o fa-lg"></em>
    <span>Trash</span>
  <% end %>
</div>
