<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <%= render 'mailbox/folders' %>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <% if messages.present? %>
          <%= render partial: 'conversations/conversation', collection: messages %>
        <% else %>
          <p class="text-center"><%= t('.no_message') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
