<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <%= render 'folders' %>
      </div>
    </div>
  </div>
  <div class="col-md-12 mt-3">
    <%= render 'orders/orders', orders: orders, f_title: t('orders.index.your_orders'), s_title: s_title %>
  </div>
</div>
<div class="text-center">
   <%= link_to t('orders.index.new_order'), new_order_path, class: "btn btn-info" unless current_user.driver? %>
</div>
