<div class="container">
  <table class="table">
    <tr>
      <th>Start</th>
      <th>Finish</th>
      <th>Price</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
    <% if current_user.driver %>
      <% @orders.each do |order| %>
        <%= render 'orders', order: order %>
      <% end %>
    <% else %>
      <% current_user.orders.each do |order| %>
        <%= render 'orders', order: order %>
      <% end %>
    <% end %>
  </table>
  <%= link_to "New order", new_order_path unless current_user.driver %>
</div>
