<table class="table">
  <tr>
    <th>Откуда</th>
    <th>Куда</th>
    <th>Дата</th>
    <th>Цена</th>
    <th>Статус</th>
    <th colspan="2"></th>
  </tr>
  <% if current_user.driver %>
      <% @orders.where(status: 0).each do |order| %>
        <%= render 'orders', order: order %>
      <% end %>
      <% if @orders.where(status: 0).blank? %>
        <h2>Нет доступных заявок</h2>
      <% end %>
  <% else %>
    <% current_user.orders.each do |order| %>
      <%= render 'orders', order: order %>
    <% end %>
  <% end %>
</table>
<%= link_to "Новая заявка", new_start_path, class: "btn btn-info" unless current_user.driver %>
