/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

.jumbotron{
  border-radius: 8px;
  margin-top: 25px;
}

#mapFrom, #mapTo, #map{
  width: 100%;
  height: 400px;
  background-color: grey;
  margin: 30px auto;
}

.hiden{ display: none; }

.navbar{ margin-bottom: 30px; }

.form-container{
  width: 50%;
  margin: 0 auto;
}

.field_with_errors{
  label{
    color: #d01612;
  }
  input{
    border-color: #d01612;
  }
}

.nxt_button{ float: right; }
.prev_button{ float: left; }
.nxt{ margin: 0 15.75%; }
.prev{ margin: 0 15.75%; }

.col-md{ width: 10%; }


// pagination
.pagination{
  justify-content: center;
  margin: 15px 0;
}

.pagination a, .previous_page, .next_page, .current {
  position: relative;
  display: inline-block;
  color: #2c3e50;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 8px 15px 8px;
}
.pagination a:before {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: #2c3e50;
  border-radius: 24px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.pagination a:hover, .pagination a .current {
  color: #fff;
}
.pagination a:hover:before, .pagination a .current:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.current{
  border-radius: 24px;
  color: #fff;
  background-color: #2c3e50;
}
