/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jcrop
 *= require avatars
 *= require conversations
 *= require notifications
 *= require orders
 *= require reviews
 *= require users
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome";


.sign-in{
  img{ vertical-align: top; }
  a:hover{ text-decoration: none; }
}

 // flash notification
 .alert{
   position: absolute;
   top: 0;
   left: 0;
   z-index: 9999;
   width: 100%;
   padding: 1.45rem;
   border-radius: 0;
   color: #ffffff;
   letter-spacing: 1px;
   font-weight: 800;
   p{
     margin: 0;
   }
 }

 .danger{ background: rgba(220, 20, 60, 0.85); }
 .success{ background: rgba(50, 205, 50, 0.85); }
 .info{ background: rgba(135, 235, 211, 0.9); }
 .warning{ background: rgba(255, 215, 0, 0.75); }


 @media screen and (max-width: 665px) {
   .alert {
      padding: 1.41rem;
      letter-spacing: 0;
   }
 }

 @media screen and (max-width: 440px) {
   .alert {
      padding: 0.7rem;
      letter-spacing: 0;
   }
 }

.jumbotron{
  border-radius: 8px;
  margin-bottom: 30px;
  padding: 32px;
}

.container{
  padding: 0;
}

// Map
#mapFrom, #mapTo{
  width: 100%;
  height: 400px;
  background-color: grey;
  margin: 30px auto;
}

.map-panel{
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 5px;
  #output{
    margin: 0 auto;
    width: 80%;
  }
  span{
    margin: 0 10%;
  }
}

#map {
  height: 400px;
  width: 100%;
}

.hiden{ display: none; }

.form-container{
  width: 50%;
  margin: 0 auto;
}

.field_with_errors{
  label{
    color: #d01612;
  }
  input{
    border-color: #d01612;
  }
}

.nxt_button{ float: right; }
.prev_button{ float: left; }
.nxt{ margin: 0 15.75%; }
.prev{ margin: 0 15.75%; }

.col-md{ width: 10%; }

// navbar
.fix-nav{
  right: 0;
  left: auto;
}

.dropdown-links a{
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  text-decoration: none;
  &:hover{
    background-color: #dcdcdc;

  }
}
.dropdown-links{ min-width: 0 }
.link-style{
  font-size: 0.75rem;
  text-align: center;
}

//footer
body {
  background: #2C2A2A;
  text-rendering: optimizelegibility;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.wrapper {
  padding: 40px 0 120px 0;
  min-height: 120vh;
  transform-origin: center bottom 0px;
  transition: all 0.5s ease 0s;
  box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.5);
  background: #fff;
}

body.tight .wrapper {
  transform: translateY(-60px) scale(0.9);
  cursor: pointer;
}

.footer {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  text-align: center;
  min-height: 200px;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

#myFooter {
    color: white;
    width: 100%;
}

#myFooter .footer-copyright {
    padding: 3px 0;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 10px;
}

#myFooter .navbar-logo {
    height: 65px;
}

#myFooter .text-logo{
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter .logo a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

.sss{
  margin: 0 auto;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #3b5998;
}

#myFooter .google:hover {
    color: #d34836;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .vk:hover {
    color: #4d7198;
}

#myFooter .instagram:hover i{
  border-radius: 50%;
  background: linear-gradient(45deg, #f9ed32, #ee2a7b, #002aff);
}

#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}
