/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jcrop
 *= require_self
 */
 @import "bootstrap";

.jumbotron{
  border-radius: 8px;
  margin-top: 25px;
  padding: 32px;
}

#mapFrom, #mapTo{
  width: 100%;
  height: 400px;
  background-color: grey;
  margin: 30px auto;
}

.map-panel{
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 5px;
  #output{
    margin: 0 auto;
    width: 80%;
  }
  span{
    margin: 0 10%;
  }
}

#map {
  height: 400px;
  width: 100%;
}


.hiden{ display: none; }

.navbar{ margin-bottom: 30px; }

.form-container{
  width: 50%;
  margin: 0 auto;
}

.field_with_errors{
  label{
    color: #d01612;
  }
  input{
    border-color: #d01612;
  }
}

.nxt_button{ float: right; }
.prev_button{ float: left; }
.nxt{ margin: 0 15.75%; }
.prev{ margin: 0 15.75%; }

.col-md{ width: 10%; }


.dropdown-menu a{
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  text-decoration: none;
  &:hover{
    background-color: #dcdcdc;

  }
}
