#msform {
	width: 100%;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-sizing: border-box;
	width: 100%;
	position: absolute;
}

#msform fieldset:not(:first-of-type) {
	display: none;
}

#msform input, #msform textarea {
	padding: 10px;
	margin-bottom: 10px;
	width: 100%;

}

#msform .action-button {
	width: 100px;
}

.fs-title {
	font-size: 1.5em;
	color: #2C3E50;
	margin-bottom: 10px;
}

.progress{
	margin: 15px auto;
	width: 70%;
}
