// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// form
.sign-in-form{
  margin: 0 auto;
  border: 1px solid lightgray;
  padding: 50px 45px!important;
  border-radius: 15px;
  box-shadow: 5px 10px 35px lightgray;
}

// profile
.profile{
  width: 70%;
  margin: 0 auto;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: 5px 5px 20px lightgrey;
  padding: 20px 50px;
  margin-bottom: 20px;
}

// qr
.qr{
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}

.qr td {
  border-left: solid 10px #000;
  padding: 0;
  margin: 0;
  width: 0px;
  height: 10px;
}

.qr td.black { border-color: #000; }
.qr td.white { border-color: #fff; }

.dialog{
  max-width: none!important;
}
